<!-- Breadcrumbs -->
<section class="ui left aligned middle aligned segment">
  <div class="ui breadcrumb">
    {{#each breadcrumbs}}
    {{#if @last}}
      <div class="active section">{{@key}}</div>
    {{else}}
      <a class="section" href="{{@value}}">{{@key}}</a>
      <i class="right chevron icon divider"></i>
    {{/if}}
    {{/each}}
  </div>
</section>