<form action="/dashboard/addstation" class="ui raised segment form" method="POST">
  <h3 class="ui left aligned header">Add New Station</h3>
  <div class="three-fields">
    <div class="field">
      <label for="name">Name</label>
      <div class="ui left icon input">
        <i class="building icon"></i>
        <input id="name" name="name" placeholder="Station Name" required type="text">
      </div>
    </div>
    <div class="field">
      <label for="latitude">Latitude</label>
      <div class="ui left icon input">
        <i class="map marker alternate icon"></i>
        <input type="number" name="latitude" min="-85" max="85" step=".000001">
      </div>
    </div>
    <div class="field">
      <label for="longitude">Longitude</label>
      <div class="ui left icon input">
        <i class="map marker alternate icon"></i>
        <input type="number" name="longitude" min="-180" max="180" step=".000001">
      </div>
    </div>
    <button class="ui submit button blue"><i class="plus icon"></i>Submit Station</button>
  </div>
</form>