<nav class="ui menu">
    <header class="ui header item"><a href="/" id="home"><i class="sun cloud icon"></i>WeatherTop </a></header>
    <div class="right menu">
        <a class="item" href="/dashboard" id="dashboard"> Dashboard </a>
        <a class="item" href="/about" id="about"> About </a>
    </div>
</nav>

<script>
    // set the active class on the menu
    $("#${_id}").addClass("active item");
</script>