{{> menu hideLinks=true}}

<section class="ui segment">
  <h2 class="ui center aligned icon header blue">
    <i class="circular question icon"></i>
    Page Not Found
  </h2>
</section>
<div class="ui message center aligned grid">
  <p><a href="/">Return to Homepage</a></p>
</div>