{{> menu id="about"}}

<!-- Heading -->
<section class="ui segment">
    <h2 class="ui center aligned icon header blue">
        <i class="circular info icon"></i>
        About Us
    </h2>
</section>
<!-- Intro -->
<section class="ui center aligned middle aligned segment">
    <div class="ui text container">
        <h2 class="ui header blue">What is the WeatherTop App?</h2>
        <p>The WeatherTop App is a Web companion application to be used in
            conjuction with the WeatherTop 1000 - a modular weather station. The WeatherTop Application allows you to manage
            your Weather Stations and Weather Readings</p>
    </div>
    <!-- Images Section -->
    <div class="ui vertical stripe center aligned grid segment">
        <div class="row">
            <div class="ui cards">
                <div class="card">
                    <div class="image">
                        <img alt="Clouds"
                             src="/images/clouds.png">
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img alt="Sun above clouds"
                             src="/images/sunshine.png">
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img alt="Rain drops hitting water"
                             src="/images/rain.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mission Section -->
    <div class="ui vertical stripe segment left aligned">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="one wide column"></div>
                <div class="seven wide column">
                    <h2 class="ui header blue">Our Mission</h2>
                    <p>
                        Our mission is to provide a high quality meteorological product to our customers. We
                        strive to utilise the latest technology to provide our users the most efficient and effective way to
                        manage weather data.
                    </p>
                </div>
                <div class="six wide right floated column">
                    <img
                            alt="Weather Station"
                            class="ui large bordered rounded image"
                            src="/images/weather-station-alt.png"
                    />
                </div>
                <div class="one wide column"></div>
            </div>
            <!-- Data Section -->
            <div class="row">
                <div class="one wide column"></div>
                <div class="six wide column">
                    <img
                            alt="Data on a black screen"
                            class="ui large bordered rounded image"
                            src="/images/data.png"
                    />
                </div>
                <div class="six wide right floated column">
                    <h2 class="ui header blue">Data is at the heart of our Product</h2>
                    <p>
                        At WeatherTop we understand how important data is to our customers and their
                        research. We provide an easy-to-use companion app to manage this data and display the latest
                        trends and analytics.
                    </p>
                </div>
                <div class="one wide column"></div>
            </div>
        </div>
    </div>
    <!-- Meet the Team -->
    <section class="ui vertical stripe center aligned grid segment" id="team">
        <div class="ui text container">
            <h2 class="ui header blue">Meet The Leadership Team</h2>
        </div>
        <div class="ui horizontal cards">
            <div class="card">
                <div class="image">
                    <img src="/images/headshot-1.png">
                </div>
                <div class="content">
                    <div class="header">Niamh Power</div>
                    <div class="meta">
                        <span>CEO</span>
                    </div>
                    <div class="description">
                        Niamh is the founder and CEO of WeatherTop
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/images/headshot-2.png">
                </div>
                <div class="content">
                    <div class="header">John Smith</div>
                    <div class="meta">
                        <span>CTO</span>
                    </div>
                    <div class="description">
                        John is the CTO and head of Engineering at WeatherTop
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </section>
    <!-- Get Started -->
    <section class="ui vertical stripe segment">
        <div class="ui text container">
            <h2 class="ui header blue">Get Started with WeatherTop</h2>
            <p>
                Keep track of all of your Weather Stations and their Readings.
            </p>
            <div class="center aligned column">
                <a class="ui large button" href="/dashboard">Manage Your Stations<i class="right arrow icon"></i></a>
            </div>
        </div>
    </section>
</section>
