{{> menu id="dashboard"}}

<section class="ui raised segment">
    <h1>Dashboard</h1>
</section>

{{#each stations}}
  <section class="ui segment">
    {{> latest-reading name=name reading=(last readings)}}
  </section>
{{/each}}