{{> menu id="dashboard"}}

<section class="ui raised segment">
    <h1>Dashboard</h1>
</section>

{{#if stations}}
{{#each stations}}
  <section class="ui segment">
  {{#if readings}}
    {{> latestreading name=name reading=(last readings)}}
    {{> listreadings readings=readings}}
  {{else}}
    <h2>{{capitilize name}}</h2>
    <p>No Weather available for {{capitilize name}} Station.</p>
  {{/if}}
  <div class="ui divider"></div>
  </section>
{{/each}}
{{else}}
<div class="ui icon blue message">
  <i class="lightbulb icon"></i>
  <div class="content">
    <div class="header">
      You currently have no Weather Stations
    </div>
  </div>
</div>
{{/if}}