{{> menu id="about"}}

<section class="ui center aligned middle aligned segment" id="home">
  <div class="ui">
    <!-- Main Heading -->
    <div class="ui vertical masthead center aligned segment">
      <div class="ui text container">
        <h2 class="ui center blue aligned icon header">
          <i class="circular cloud sun icon"></i>
        </h2>
        <h1 class="ui blue header">Welcome to WeatherTop</h1>
        <h2>An App that allows you to manage your Weather Stations</h2>
        <a href="/dashboard">
          <div class="ui huge primary button">
            Manage Stations <i class="right arrow icon"></i>
          </div>
        </a>
      </div>
    </div>
    <!-- Overview -->
    <div class="ui vertical stripe segment left aligned">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="one wide column"></div>
          <div class="seven wide column">
            <h2 class="ui header blue">Keep Up to Date with the Weather</h2>
            <p>
              WeatherTop is a portal and companion app for you to track weather statistics for your
              Weather Stations.
            </p>
            <div class="center aligned column">
              <a class="ui large button" href="/about">Read More About WeatherTop<i class="right arrow icon"></i></a>
            </div>
          </div>
          <div class="six wide right floated column">
            <img
                alt="Weather Station situated on top of a cliff"
                class="ui large bordered rounded image"
                src="/images/weather-station.png"
            />
          </div>
          <div class="one wide column"></div>
        </div>
      </div>
    </div>
    <!-- Testimonials -->
    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h3>"We user WeatherTop to keep track of all of our data findings."</h3>
            <p>- <strong>Dr. D Tennant </strong>| Meteorologist</p>
          </div>
          <div class="column">
            <h3>"WeatherTop has made our research much more accessible"</h3>
            <p>- <strong>Dr. J Whittaker</strong>| Meteorologist</p>
          </div>
          <div class="column">
            <h3>"WeatherTop is a fantastic app, highly recommend it for any Weather analysis"</h3>
            <p>- <strong>Dr. C Baker</strong>| Meteorologist</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe center aligned grid segment">
      <div class="ui text container"><h2 class="ui blue header">Features</h2></div>
      <div class="row">
        <div class="ui cards">
          <div class="card">
            <div class="image">
              <img alt="Weather Station outside surrounded by grass covered hills"
                   src="/images/weather-station.jpg">
            </div>
            <div class="content">
              <div class="header">View and Manage Stations</div>
              <div class="description">
                Keep track of all of your Weather Stations in the WeatherTop companion app.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img alt="Thermometer outside with a reading of 40 degrees Celcius"
                   src="/images/thermometer.png">
            </div>
            <div class="content">
              <div class="header">Vew and Add Readings</div>
              <div class="description">
                View and Manage your Weather Readings for each of your Stations.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img alt="Researchers looking at data on a laptop"
                   src="/images/research.png">
            </div>
            <div class="content">
              <div class="header">See Weather Data and Trends</div>
              <div class="description">
                Access Weather trends calculated from your Readings for each of your Stations.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h2 class="ui header blue">WeatherTop is at the forefront of Weather Technology</h2>
      <p>
        We are at the cutting edge of meteorological technology. Our mission is to provide
        an easy-to-use and reliable service that you can use in conjunction with the WeatherTop 1000.
      </p>
      <div class="center aligned column">
        <a class="ui large button" href="/about">Read More About WeatherTop<i class="right arrow icon"></i></a>
      </div>
    </div>
  </div>
  </div>
</section>