{{> menu id="dashboard"}}

<!-- Breadcrumbs -->
{{> breadcrumbs crumbs=crumbs}}
<!-- Main Heading -->
<section class="ui segment">
  <h2 class="ui center aligned icon header blue">
    <i class="circular eye icon"></i>
    {{capitilize station.name}} Overview
  </h2>
</section>
<!-- Reading Nav Link -->
<section class="ui segment">
  <a href="#newReading">
    <button class="ui primary button">
      <i class="plus icon"></i>Add New Reading
    </button>
  </a>
</section>
{{#if station.readings}}
  <!-- Readings List -->
  <section class="ui raised segment" id="newReading">
     {{> latestreading station=station reading=(last station.readings)}}
     {{> listreadings readings=station.readings}}
  </section>
{{else}}
  <!-- No Readings Message -->
  <section class="ui icon blue message">
    <i class="lightbulb icon"></i>
    <div class="content">
      <div class="header">
        No Weather Readings for Station {{capitilize station.name}}
      </div>
      <p>You can create a Reading by filling out the form below.</p>
    </div>
  </section>
{{/if}}
<!-- Create New Reading Form -->
{{> createreading station=station error=error}}
